 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 929px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 200px auto 0 -27px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: -525px auto 0 398px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 20px auto 0 378px;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  width: 525px;
  margin: 20px 308px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  align-self: center;
  margin: 30px auto 60px 414px;
  padding: 10px 54px 10px 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
    margin-left: -100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -519px;
    margin-left: 328px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 312px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -6px;
    margin-right: 177px;
    margin-left: 238px;
  }

  .u-section-1 .u-btn-1 {
    margin: 20px 284px 170px auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 251px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 239px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 128px;
    margin-right: 67px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 90px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    margin-top: -289px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  margin: -525px 370px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 20px 351px 0 auto;
}

.u-section-2 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  width: 525px;
  margin: 20px 0 0 335px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  align-self: center;
  margin: 30px 387px 20px auto;
  padding: 10px 54px 10px 52px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 470px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -425px;
    margin-right: 305px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 289px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 187px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-top: 60px;
    margin-left: -50px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -290px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 171px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 597px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -977px;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 410px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: -750px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}